@
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Arial' , sans-serif;
    
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0c0d0c;
    color: #ad2e2e;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    
}
nav .mainMenu{
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}
nav .mainMenu li a:hover{
    background: rgb(101, 99, 98);
}
nav .openMenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-facebook:hover{color: rgb(0, 110, 255);}
.fa-twitter:hover{color: rgb(86, 154, 243);}
.fa-instagram:hover{color: rgb(255,0,191);}
.fa-github:hover{color: rgb(225, 85, 35);}

nav .logo {
    max-width: 120px;
    cursor: pointer;
}

nav .logo img{
    border-radius: 45%;
    border: 0px solid;
}



@media(100px <= width <= 800px){
    nav .mainMenu{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
        
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: rgb(101, 99, 98);
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
    
}




/* HOME PAGE cover start  */

.cover{
    background: url(images/home4.jpg);
    background-size: cover;
    height: 530px;
    width: 100%;
    margin-top: 10%;
    animation: slide 20s infinite;
}

@keyframes slide{
    25%{
        background: url(images/home3.jpg);
    }
    50%{
        background: url(images/home4.jpg);
    }
    75%{
        background: url(images/home5.jpg);
    }
    100%{
        background: url(images/home8.jpg);
    }
    125%{
        background: url(images/home9.jpg);
    }
    150%{
        background: url(images/home10.jpg);
    }
}


.text{
    position: absolute;
    top: 20%;
    left: 7%;
    
}

.text h1{
    font-size: 70px;
    font-family: barlow condensed,sans-serif;
    text-transform: capitalize;
    width: 460px;
    word-spacing: 0px;
    font-weight: normal; 
    line-height: 72px;
    margin-top: 30%;
}

.text h4{
    position: absolute;
    top: -25%;
    font-size: 20px;
    font-family: bralow condensed,sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 40%;
}

form input[type="submit"]{
    position: absolute;
    top: 150%;
    padding: 10px;
    text-transform: uppercase;
    background-color: rgb(4, 4, 4);
    border: none;
    color: white;
    font-family: barlow condensed;
    letter-spacing: 1px;
    margin-top: -40%;
}

form input[type="submit"]:hover{
    background-color: rgb(101, 99, 98);
}

.grid{
    margin-bottom: 20%;
}



.image22{
    position: absolute;
    left: 10%;
    top: 70%;
    border: 1px solid darkgray;
    box-shadow: 1px 2px 4px;
    margin-top: 10%;
}

.image22:hover{
    box-shadow: 1px 3px 9px;
}

h6{
    color: black;
    position: absolute;
    left: 20%;
    top: 30%;
    border: 1px solid whitesmoke;
    width: 200px;
    font-size: 40px;
    font-family: barlow condensed,sans-serif;
    background-color: white;
    font-weight: normal;
    text-align: center;

}

.image23{
    position: absolute;
    left: 40%;
    top: 70%;
    border: 1px solid darkgray;
    box-shadow: 1px 2px 4px;
    margin-top: 10%;
}

.image23:hover{
    box-shadow: 1px 3px 9px;
}


.image24{
    position: absolute;
    left: 70%;
    top: 70%;
    border: 1px solid darkgray;
    box-shadow: 1px 2px 4px;
    margin-top: 10%;
}

.image24:hover{
    box-shadow: 1px 3px 9px;
}

/* cover end */


/*
#Container{
    max-width: 430;
    margin: 30px auto;
    padding: 20px;
    line-height: 1.8;
    text-align: center;
}

#Container a{
    text-decoration: none;
    text-align: center;
}
*/

/* CONTACT US CODE START HERE */

input, select, button{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 14px;
}
h3,h4{
    margin: 0;
}
img{
    max-width: 100%;
}
:focus{
    outline: none;
}
.wrapper{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}
.inner{
    padding: 20px;
    background: #fff;
    max-width: 850px;
    margin: auto;
    display: flex;
}
.inner .image-holder{
    width: 50%;
}
.inner form{
    width: 50%;
    padding-top: 36px;
    padding-left: 45px;
    padding-right: 45px;
}
.inner h3{
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin-bottom: 28px;
}
.from-group{
    display: flex;
}
.from-group input:first-child{
    margin-right: 25px;
}
.form-wrapper{
    position: relative;
}
.form-control{
    border: 1px solid #333;
    border: none;
    border-bottom: 1px solid #333;
    display: block;
    width: 100%;
    height: 30px;
    padding-right: 0;
    margin-bottom: 25px;
}
select{
    cursor: pointer;
    color: gray;
}
select option[value=""][:disabled]{
    display: none;
}
button{
    border: none;
    width: 164px;
    height: 51px;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    background: #333;
    font-size: 15px;
    color: #fff;
}
button:hover{
    background: rgb(101, 99, 98);
}
@media(max-width: 767px){
    .inner{
        display: block;
    }
    .inner .image-holder{
        width: 100%;
    }
    .inner form{
        width: 100%;
        padding-top: 40px 0 30px;
    }
    button{
        margin-top: 60px;
    }

}

/* CONTACT US CODE END HERE */

/*  About-Us  START        */
.about-Us{
    padding: 88px 0px;
    margin-top: 2%;
}
.abt-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.abt-row{
    display: flex;
    flex-wrap: wrap;
}
.abt-flex{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
}
.about-Us h2{
    font-size: 45px;
    margin-bottom: 20px;
    color: #333;
}
.about-Us h3{
    font-size: 22px;
    margin-bottom: 8px;
    color: #0e0e0e;
}
.about-Us p{
    font-size: 18px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
}
.about-Us img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.social-links{
    margin-bottom: 20px;
}
.social-links a{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;   text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    color: #fff;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
}

.social-links a:hover{
    transform: translateY(-3px);
}
.btn{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #333;
    transition: all 0.4s ease;
    margin-top: 50%;
}
.btn:hover{
    transform: translateY(-3px);
}
@media screen and (max-width: 768px){
    .abt-row{
        flex-direction: column;
    }
    .abt-flex{
        max-width: 100%;
    }
    .about-Us h2{
        font-size: 31px;
    }
    .about-Us p{
        font-size: 16px;
    }
    .social-links a{
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        margin-right: 5px;
    }
    .btn{
        font-size: 16px;
        padding: 8px 16px;
        margin-bottom: 30px;
    }
    
}

/*  About-Us  END    */

/* Product Start here */

section{
    padding: 5% 10%;
}

.main-home{
    width: 80%;
    height: 100vh;
    background-image: url(images/home3.jpg);
    background-position: center;
    background-size: cover;
    background-color: #8d1667;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.main-text h5{
    color: #354567;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}
.main-text h1{
    color: #000;
    font-size: 45px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 300;
    margin: 6px 0 10px;
}
.main-text p{
    color: #333c56;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}
.main-btn{
    display: inline-block;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition: all .42s ease;
}
.main-btn:hover{
    background: rgb(101, 99, 98);
    color: #fff;
}
.main-btn i{
    vertical-align: middle;
}
.down-arrow{
    position: absolute;
    top: 85%;
    right: 11%;
    color: #000;
    font-size: 50px;
}
.down i{
    font-size: 30%;
    color: #000;
    border: 2px solid #000;
    border-radius: 50px;
    padding: 12px 12px;
}
.down i:hover{
    background: rgb(101, 99, 98);
    color: #fff;
    transition: all .42s ease;
}

/* Trending-Section-CSS */

.conter-text h2{
    color: #111;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}
.conter-text span{
    color: #ee1c4e;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
}
.row{
    position: relative;
    transition: all .40s;
}
.row img{
    width: 100%;
    height: auto;
    transition: all .40s;
}
.row img:hover{
    transform: scale(0.9);
}
.product-text h5{
    position: absolute;
    top: 13px;
    left: 13px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #27b737;
    padding: 3px 10px;
    border-radius: 2px;
}
.heart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
}
.heart-icon:hover{
    color: #ee1c4e;
}
.ratting i{
    color: #ff8c00;
    font-size: 18px;
}
.price h4{
    color: #111;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
}
.price p{
    color: #151515;
    font-size: 14px;
    font-weight: 600;
}

/* Client-Reviews-CSS */

.client-reviews{
    background-color: #f3f4f6;
}
.reviews{
    text-align: center;
}
.reviews h3{
    color: #111;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}
.reviews img{
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin: 10px 0;
}
.reviews p{
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
}
.reviews h2{
    font-size: 22px;
    color: #000;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 2px;
}

/* update-section-css */

.up-center-text h2{
    color: #111;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
    margin: 30px;
    text-align: center;
    margin-bottom: 50px;
}
.cart img{
    width: 300px;
    height: auto;
    border-radius: 5px;
}
.update-cart{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, auto));
    gap: 1rem  ;
}
.cart h5{
    color: #3c5280;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
}
.cart h4{
    color: #111;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}
.cart p{
    color: #354567;
    font-size: 15px;
    max-width: 380px;
    line-height: 25px;
    margin-bottom: 12px;
}
.cart h6{
    color: #151515;
    font-size: 14px;
    font-weight: 500;
}


/* contact-section */

.contact{
    background: #090809;
}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
}
.first-info img{
    width: 140px;
    height: auto;
}
.contact-info h4{
    color: hsl(210, 73%, 27%);
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contact-info p{
    color: #4b4646;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all.42s;
}
.contact-info p:hover{
    background: hsl(210, 73%, 27%);
    border-radius: 20%;
    
}
.social-icon i{
    color: #4d4949;
    margin-right: 10px;
    font-size: 20px;
    transition: all .42s;
}
.social-icon i:hover{
    transform: scale(1.3);
}

.end-text{
    background-color: #edfff1;
    text-align:center ;
    padding: 20px;
}
.end-text p{
    color: #111;
    text-transform: capitalize;
}


